@media (min-width: 2560px) {
  .timeline {
    overflow-y: hidden;
    overflow-x: hidden;
    ul {
      li {
        width: 10px;
        margin: 0 auto;
        padding-top: 15rem;

        &::after {
          content: "";

          width: 30px;
          height: 30px;
          z-index: 2;

          overflow: hidden;
        }
        div {
          top: -6rem;

          bottom: 0;
          width: 75rem;
          margin-top: 4rem;

          time {
            width: 30rem;
            font-size: calc(0.2rem + 0.8vw);
            height: 3.5rem;
            z-index: 1000;
            top: -90px;
            border-radius: 5px;

            letter-spacing: 2px;
          }
          div {
            height: 23rem;

            p {
              font-size: calc(0.2rem + 0.8vw);
              text-align: center;
            }
          }
        }
        &:nth-of-type(odd) {
          > div {
            left: 3rem;
          }
        }
        &:nth-of-type(even) {
          > div {
            left: -78rem;
          }
        }
      }
    }
  }
  .timeline {
    img {
      width: 230px;
      height: 190px;
    }
  }

  .timeline {
    .ap-img {
      width: 230px;
      height: 190px;
    }
    .apion-img {
      width: 230px;
      height: 190px;
      padding-bottom: 3.5rem;
    }
    .whsz-img {
      width: 230px;
      height: 190px;
    }
    .wsaib-img {
      padding-bottom: 1.5rem;
    }
    .ug-img {
      width: 230px;
      height: 190px;
    }
  }
  .box1-top,
  .box2-top,
  .box3-top svg {
    height: 500px;
    width: 500px;
    padding-left: 5rem;
  }
  .hero-img {
    max-width: 70rem;
    max-height: 60rem;
  }
  .box1,
  .box2,
  .box3 {
    flex: 1 1 30rem;
    align-items: center;
    justify-content: center;
    margin: 5rem;
    max-width: 50rem;
    max-height: 70rem;
  }
  .box1-top,
  .box2-top,
  .box3-top {
    background-color: #53c6f8;
    display: flex;
    align-items: center;
    justify-self: center;
    opacity: 0.8;
    box-shadow: 5px 0 5px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0 0;
    max-height: calc(50rem + 1vw);
  }
  .box1-bottom,
  .box2-bottom,
  .box3-bottom {
    background-color: #122f5b;
    height: 25rem;
    color: white;
    font-size: calc(1.3rem + 0.2vw);
    display: flex;
    padding: 3rem;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    text-align: center;
    box-shadow: 5px 0 5px 3px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 10px 10px;
  }
}

@media (max-width: 1400px) {
  #logo {
    color: white;
    font-size: 3rem;
    padding: 2.5rem;
    margin-left: 3rem;
    width: 35rem;
  }
  .hero {
    flex-direction: column;
  }
  .hero-jarek {
    padding: 10rem 0 5rem 0;
  }
  .hero-text {
    font-size: 2rem;
    padding: 0;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .timeline {
    overflow-x: hidden;
    ul {
      li {
        &::after {
          overflow: hidden;
          top: 140px;
        }
        div {
          width: 50rem;
          margin-top: 2rem;

          time {
            top: -25px;
            z-index: 100;
            width: 25rem;

            height: 3.5rem;
          }
          div {
            height: 18rem;
          }
        }

        &:nth-of-type(even) {
          > div {
            left: -52rem;
          }
        }
      }
    }
  }
  .timeline {
    .ap-img {
      width: 190px;
      height: 160px;
      padding-bottom: 0;
    }
    .apion-img {
      height: 100px;
      padding-bottom: 0rem;
    }
    .whsz-img {
      height: 130px;
      padding-bottom: 0;
    }
    .wsaib-img {
      height: 150px;
      padding-top: 1.5rem;
    }
    .ug-img {
      width: 190px;
      height: 160px;
      padding-bottom: 1rem;
    }
    .łebska-img {
      height: 150px;
    }
    .bukowo-img {
      height: 100px;
    }
  }
}

@media (max-width: 1024px) {
  .menuham {
    visibility: visible;
    position: absolute;

    z-index: 1000;
    top: 25px;
  }
  #logo {
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
  }
  .hero-img {
    width: 40rem;
  }
  .hero-jarek {
    padding: 10rem 0 5rem 0;
  }
  .hero-text {
    font-size: 2rem;
    padding: 0;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .hero {
    flex-direction: column;
  }
  #first {
    margin: 0;
  }

  header {
    min-height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header li h1 {
    font-size: 3rem;
    display: flex;
    color: white;
    letter-spacing: 5px;
    text-align: center;
    padding: 2rem;
  }
  .menuham {
    visibility: visible;
    position: absolute;

    z-index: 1000;
    top: 40px;
    right: 25px;
    width: 36px;
    height: 36px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    fill: white;
    background-size: 100%;
  }
  .menuham {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(230deg)
      brightness(103%) contrast(105%);
  }

  .showClose {
    background-image: url("https://ljc-dev.github.io/testing0/ham-close.svg");
  }

  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    background: #164565;
    width: 100vw;
    height: 30vh;
    overflow: hidden;
    color: white;

    transform: translateY(-100%);
    transition: transform 0.2s ease-in-out;
  }

  .showNav {
    transform: translateY(0);
  }

  .navbar ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .navbar ul li a {
    color: white;
    padding-bottom: 5px;
    border-bottom: 1px solid #bcd9eb;
    text-decoration: none;
    font-size: 1.5rem;
  }

  .navbar ul li a:hover,
  .navbar ul li a:focus {
    border-bottom: 2px solid white;
  }
  .timeline {
    overflow-x: hidden;
    ul {
      li {
        div {
          width: 45rem;

          time {
            top: -30px;
            z-index: 100;
            width: 25rem;

            height: 3.5rem;
          }
          div {
            height: 20rem;

            p {
              text-align: center;
            }
          }
        }
        &:nth-of-type(odd) {
          > div {
            left: 3rem;
          }
        }
        &:nth-of-type(even) {
          > div {
            left: -47rem;
          }
        }
      }
    }
  }
  .timeline {
    img {
      width: 150px;
      height: 150px;
    }

    .apion-img {
      height: 90px;
    }
  }
}
@media (max-width: 950px) {
  .menuham {
    visibility: visible;
    position: absolute;

    z-index: 1000;
    top: 25px;
  }
  #logo {
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
  }
  .kariera {
    font-size: 2.5rem;
  }
  .do-header {
    font-size: 2.5rem;
  }
  .hero-text {
    padding-top: 5rem;
  }
  .timeline {
    overflow-x: hidden;
    ul {
      li {
        div {
          width: 33rem;
          margin-top: 2rem;

          time {
            width: 20rem;

            height: 3.5rem;
          }
          div {
            height: 20rem;

            p {
            }
          }
        }
        &:nth-of-type(odd) {
          > div {
            left: 3rem;
          }
        }
        &:nth-of-type(even) {
          > div {
            left: -35rem;
          }
        }
      }
    }
  }
  .timeline {
    img {
      width: 130px;
      height: 130px;
    }
  }
  .gallery-photos {
    padding: 2rem;
  }
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
@media (max-width: 800px) {
  .icons {
    padding: 2rem;
  }
  .contact-svgs {
    width: 6rem;
  }
  .text-inside {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .email {
    max-height: 15rem;
  }
}
@media (max-width: 450px) {
  #carouselExampleControls {
    margin: auto;
    max-height: 40rem;
    max-width: 25rem;
    padding-top: 5rem;
    padding-bottom: 2rem;
  }
  .gallery {
    overflow-x: hidden;
  }

  .gallery img {
    max-height: 40rem;
    max-width: 25rem;
  }
  .hero-img {
    width: 25rem;
  }
  #logo {
    color: white;
    font-size: 2.5rem;

    color: white;
    padding: 2rem;
    margin: 0;
  }
  .hero-jarek {
    display: flex;
    align-self: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
    padding-right: 0;
  }
  .hero-text {
    font-size: calc(16px + 0.1 * ((100vw - 320px) / 680));
    padding: 0;
  }
  .hero {
    padding: 2rem;
  }
  header {
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header li h1 {
    font-size: 3rem;
    display: flex;
    color: white;
    letter-spacing: 5px;
    text-align: center;
    padding: 2rem;
  }
  .menuham {
    visibility: visible;
    position: absolute;

    z-index: 1000;
    top: 40px;
    right: 25px;
    width: 36px;
    height: 36px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    fill: white;
    background-size: 100%;
  }
  .menuham {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(230deg)
      brightness(103%) contrast(105%);
  }

  .showClose {
    background-image: url("https://ljc-dev.github.io/testing0/ham-close.svg");
  }

  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    background: #164565;
    width: 100vw;
    height: 30vh;
    overflow: hidden;
    color: white;

    transform: translateY(-100%);

    transition: transform 0.2s ease-in-out;
  }

  .showNav {
    transform: translateY(0);
  }

  .navbar ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .navbar ul li a {
    color: white;
    padding-bottom: 5px;
    border-bottom: 1px solid #bcd9eb;
    text-decoration: none;
    font-size: 1.2rem;
  }

  .navbar ul li a:hover,
  .navbar ul li a:focus {
    border-bottom: 2px solid white;
  }
  .kariera {
    font-size: 2rem;
    padding: 1.5rem 1.5rem;
  }
  .do-header {
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    letter-spacing: 5px;
  }

  .kariera {
    letter-spacing: 5px;
  }
  .timeline {
    overflow-x: hidden;
    ul {
      li {
        div {
          width: 15rem;

          time {
            width: 15rem;

            height: 3.5rem;
          }
          div {
            height: 20rem;

            p {
            }
          }
        }
        &:nth-of-type(odd) {
          > div {
            left: 3rem;
          }
        }
        &:nth-of-type(even) {
          > div {
            left: -17rem;
          }
        }
      }
    }
  }
  .timeline {
    img {
      width: 70px;
      height: 70px;
    }
  }

  .timeline {
    .ap-img {
      width: 70px;
      height: 70px;
    }
    .apion-img {
      width: 70px;
      height: 70px;
    }
    .whsz-img {
      width: 70px;
      height: 70px;
    }
    .wsaib-img {
      height: 100px;
    }
    .img-ug {
      padding: 0;
    }
    .ug-img {
      height: 90px;
      width: 90px;
    }
    .łebska-img {
      height: 90px;
    }
    .bukowo-img {
      height: 70px;
      width: 80px;
    }
  }
  .gallery-photos {
    padding: 2rem;
  }
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
